@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Azeret Mono", monospace;
}

/* shared styles */
main section {
    max-width: 1520px;
    margin: 0 auto;
    margin-bottom: 120px;
}

.card-1-bg {
    background: rgba(255, 76, 30, 0.05);
}

.card-2-bg {
    background: rgba(0, 76, 232, 0.05);
}

.card-3-bg {
    background: rgba(255, 223, 0, 0.05);
}

/* banner styles */
.banner {
    background-image: url("/assets/Hero-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    margin-bottom: 120px;
}

.banner-content {
    text-align: center;
    padding: 30px 220px;
}

.banner-image {
    margin-bottom: 32px;
}

.banner-header {
    font-size: 48px;
    font-weight: 700;
    line-height: 68px;
    margin-bottom: 24px;
}

.banner-des {
    margin-bottom: 32px;
    line-height: 26px;
}

.btn-contact {
    border-radius: 8px;
    padding: 21px 24px 21px 24px;
    background: rgb(13, 19, 33);
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

/* web styles */
.web-top-content {
    text-align: center;
}

.web-main-header {
    font-size: 32px;
    font-weight: 800;
    color: rgb(13, 19, 33);
    margin-bottom: 24px;
}

.web-main-des {
    margin-bottom: 48px;
}

.web {
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    color: rgba(13, 19, 33, 0.7);
}

.web-content {
    padding: 80px 95px;
}

.web-column-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 110px;
    padding: 48px;
    background-color: white;
    margin-bottom: 80px;
    /* color: rgba(13, 19, 33, 0.7); */
}

.web-1-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 16px;
}

.web-1-des {
    margin-bottom: 32px;
}

.btn-web {
    border: 1px solid rgb(13, 19, 33);
    background-color: white;
    opacity: 0.7;
    padding: 12px 20px 12px 20px;
    font-size: 20px;
    font-weight: 600;
}

/* youtube styles */
.youtube-main {
    text-align: center;
}

.youtube-main-header {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 24px;
}

.youtube-main-des {
    margin-bottom: 48px;
}

.youtube-content {
    text-align: center;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
}

.youtube-video {
    width: 1430px;
    height: 730px;
    padding: 48px;
    border-radius: 60px;
}

/* current target styles */
.target-main {
    text-align: center;
}

.target-header {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 24px;
}

.target-des {
    margin-bottom: 48px;
}

/* card styles */
.target-card-container {
    display: flex;
    gap: 20px;
}

.card-1 {
    padding: 50px;
    border-radius: 16px;
}

.card-img {
    margin-bottom: 25px;
}

.card-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 8px;
}

.card-des {
    margin-bottom: 24px;
}

.card-anchor {
    font-size: 17px;
    font-weight: 700;
}